/*
*******INFORMACION ARCHIVO ***************** 
	Nombre  Archivo :  cronos_header_foot.css 
 	Fecha  Creacion : 15/12/2016 
	Descripcion  : 
               Estilos   Utilizados para el  Header  y  Foot 
               de  la plataforma  Cronos  Arte  Autorizado.
	Modificado  Fecha  : 

*/
/* 
    Created on : 15/12/2016, 05:35:52 PM
    Author     : fhernandez
*/
/* Estilo  para le  Body */ 
 body {
      /*  min-height: 2000px;   */
        padding-top: 70px;
   }
      
 /*Estilo   para  El  Nav   */ 
 .style_nav_001{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#33a471+0,33a471+40,0da61c+100 */
background: rgb(51,164,113); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(51,164,113,1) 0%, rgba(51,164,113,1) 40%, rgba(13,166,28,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(51,164,113,1) 0%,rgba(51,164,113,1) 40%,rgba(13,166,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(51,164,113,1) 0%,rgba(51,164,113,1) 40%,rgba(13,166,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a471', endColorstr='#0da61c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

} 
/*Estilo para  afectar el  Logo  Cronos*/
.logo_cronos { 
    height: 80px;
    margin-top: -16px;
    margin-right: 40px;
}
/*Estilo  para  afectar  le  tamaño de la letra de los elementos  a*/ 
 .navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a {
    color: #fefffe;
    border-radius: 10px;
    padding: 6px 9px;
    font-size: 14px;
    font-style: inherit;
}
/*Estilo para  el  Dropdown */
.navbar-inverse .navbar-nav > .open > .dropdown-menu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8adf71+0,8adf71+100 */
background: rgb(138,223,113); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(138,223,113,1) 0%, rgba(138,223,113,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(138,223,113,1) 0%,rgba(138,223,113,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(138,223,113,1) 0%,rgba(138,223,113,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8adf71', endColorstr='#8adf71',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
/*De finimos la  pocicion  estandar  del  Pie */ 
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  /*background-color: #f5f5f5;    */
}
/*Definimos el  Color  del  Titulo*/ 
.footer-title{
    color: white; 
}
/*Definimos  Estilo al  Foot */
.foot_tem_index_gerentes{
  background: rgba(45,156,22,1);
background: -moz-linear-gradient(left, rgba(45,156,22,1) 0%, rgba(45,156,22,1) 2%, rgba(72,199,110,1) 57%, rgba(72,199,110,1) 97%, rgba(72,199,110,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45,156,22,1)), color-stop(2%, rgba(45,156,22,1)), color-stop(57%, rgba(72,199,110,1)), color-stop(97%, rgba(72,199,110,1)), color-stop(100%, rgba(72,199,110,1)));
background: -webkit-linear-gradient(left, rgba(45,156,22,1) 0%, rgba(45,156,22,1) 2%, rgba(72,199,110,1) 57%, rgba(72,199,110,1) 97%, rgba(72,199,110,1) 100%);
background: -o-linear-gradient(left, rgba(45,156,22,1) 0%, rgba(45,156,22,1) 2%, rgba(72,199,110,1) 57%, rgba(72,199,110,1) 97%, rgba(72,199,110,1) 100%);
background: -ms-linear-gradient(left, rgba(45,156,22,1) 0%, rgba(45,156,22,1) 2%, rgba(72,199,110,1) 57%, rgba(72,199,110,1) 97%, rgba(72,199,110,1) 100%);
background: linear-gradient(to right, rgba(45,156,22,1) 0%, rgba(45,156,22,1) 2%, rgba(72,199,110,1) 57%, rgba(72,199,110,1) 97%, rgba(72,199,110,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d9c16', endColorstr='#48c76e', GradientType=1 );
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #8edf68;
}


/*Estilo  para los  DropDown*/

